
.main-content{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0;
    padding-bottom: 1rem;
}

.quiz-info{
    flex: 1;
    flex-grow: 1;
    flex-shrink: 2;
    flex-direction: column;
    display: flex;
    min-width: 20rem;
}   

.spidey{
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.2s ease-in-out;
    flex-shrink: 0;
}

.complete-passage{
    display:flex;
    align-items: center;
    justify-content: center;
   flex-grow: 1;
   flex-shrink: 1;
   min-width: unset;
}

.score-container{
flex: 1;
flex-grow: 1;
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
gap: 1rem;
padding: 1rem 6rem ;
}

.score-wrapper{
    border-radius: 1rem;
    background-color: var(--card-bg-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    min-width: 100%;
}

.score-type{
    color: var(--primary-color);
}

button {
    border: none;
    padding: 0.50rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;

  }

  button span{
    margin-right: 0.5rem;
    transition: all 0.15s ease-in;
  }
  
  button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 0.8rem;    
  }

 button:hover span{
    transition: all 0.15s ease-in;
  }
  

.past-attempts{
background-color: var(--primary-color);
}

.past-attempts:hover{
    background-color: red;
}

.play-again{
    background-color: var(--accent-color);
}

.play-again:hover{
    background-color: cyan;
}

@media screen and (max-width: 768px) {
    .main-content {
        padding: 1rem;
    }
    
    .spidey{
        display: none;
    }
    

    .quiz-info,
    .complete-passage,
    .score-container 
    .score-wrapper
    {
        /* flex: 1 100%; */
        flex-direction: column;
        flex:unset;
        width: 100%;
        gap: 1rem;
    }

    .score-container {
        align-items: center;
        justify-content: center;
    }

    .imgs{
        width: 100%;
    }

    .score-container{
        padding: 0rem;
    }
}
