@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #0a0707;
  --bg-color: #fdfcfc;
  --text-correct-color: #177915;
  --primary-color: #903634;
  --secondary-color: #c99e9e;
  --accent-color: #7dd0f3;
  --card-bg-color: #e2e8f0;
  --select-color: #7dd0f3;
}

.dark-mode {
  --text-color: #dbf6fd;
  --bg-color: #181b1c;
  --primary-color: #9E092A;
  --secondary-color: #434a5a;
  --accent-color: #a5cad7;
  --card-bg-color: #202528;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: 'Comic Neue', cursive, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
}/*classic bold*/

p {
  font-weight: normal;
  color: var(--text-color);
}

button {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  border: none;
  border-radius: 1.3rem;
  margin: auto 0;
  cursor: pointer;
  background-color: var(--card-bg-color);
}

button:hover {
  background-color: var(--accent-color);
}

.btn-long {
  padding: 0.7rem 10rem 0.7rem 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem;

  aside {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem 2rem;
  justify-content: space-between;
  section {
    max-width: 30rem;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-top: auto;
  background-color: var(--card-bg-color);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  padding: 0 4rem;
}

.questions-container{
  max-width: 50%;
}
.options-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  width:50%;
  min-height: 50vh;
  max-height: 70vh;
}

.main-container{
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-between;
  max-width:100vw;

}

.btn-options{
  min-width: 100%;
  min-height: 100%;
  padding: 0.7rem 0.7rem 0.7rem 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-options-correct{
  border: 0.1rem solid var(--text-correct-color);
  transform: scale(1.1);
  box-shadow: 0 0 1em var(--text-correct-color);
  border-radius: 1.3rem;
}

.btn-options-wrong{
  border: 0.1rem solid var(--primary-color);
  transform: scale(1.05);
  box-shadow: 0 0 1em var(--primary-color);
}

.btn-options:hover {
  background-color: var(--accent-color);
  transform: scale(1.05);
  box-shadow: 0 0 1em var(--accent-color);
}
.btn-options-clicked {
  background-color: var(--accent-color);
  transform: scale(1.05);
  box-shadow: 0 0 1em var(--accent-color);
}


.btn-right{
  margin-right: 0.5em;
}
.btn-right img{
  fill:var(--text-correct-color)
}
.btn-left{
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

options-btn{
  width: 85%;
  min-height: 15%;
  
}

progress {
  width: 85%;
  height: 1.2em;

  background-color: var(--card-bg-color);
  border: 0.1rem solid var(--card-bg-color);
  border-radius: 1.5em;
}

progress::-webkit-progress-value {
  background-color: var(--primary-color);
  border-radius: 1.5em;
  height: 100%;
}

progress::-moz-progress-bar {
  background-color: var(--card-bg-color);
  border-radius: 1.5em;
  height: 100%;
}
progress::-webkit-progress-bar {
  background-color: var(--card-bg-color);
  height: 100%;
  border-radius: 1.5em;
}

.btn-submit{
  background-color: var(--primary-color) !important;
  color: var(--bg-color);
}
.btn-submit p{
  color: #e2e8f0;
}
.btn-submit img{
  filter: invert(100%);
}
.btn-submit:hover{
  background-color: var(--primary-color) !important;
  transform: scale(1.05);
  box-shadow: 0 0 1em var(--primary-color) !important;
}
.options-num{
  font-weight: bold;
  width: 1.5rem;
}
/**
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #DBF6FD;
    --bg-color: #181B1C;
    --text-correct: #177915;
    --primary-color:#9E092A;
    --secondary-color: #434A5A;
    --accent-color : #A5CAD7;
    --card-bg-color: #202528;
    --select-color : #7DD0F3;
    }
  }
*/

@media (max-width: 68rem) {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    .container{
      padding: 0 2rem;
    }

    .questions-container{
      max-width: 80%;
    }
    .options-container{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width:80%;
      min-height: 50vh;
    }
    
    .main-container{
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      justify-content: center;
      max-width:100vw;
    }

    .btn-options{
      min-width: 100%;
      min-height: 100%;
    }

    progress {
      width: 85%;
      height: 1em;
    
      background-color: var(--card-bg-color);
      border: 0.1rem solid var(--card-bg-color);
      border-radius: 1.5em;
    }
  }
  
  @media (max-width: 42rem) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    .container{
      padding: 0 0.5rem;
    }

    .questions-container{
      max-width: 100%;
    }
    .options-container{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width:100%;
      min-height: 45vh;
    }
    
    .main-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto 0;
      width:100vw;
    }

    .btn-options{
      min-width: 100%;
      min-height: 100%;
    }

    progress {
      width: 100%;
      height: 0.7em;
    
      background-color: var(--card-bg-color);
      border: 0.1rem solid var(--card-bg-color);
      border-radius: 1.5em;
    }
  }
  